<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.proj.pots.board.dao.IBoardDAO">

	<insert id="writeProc" parameterType="BoardDTO">
		<selectKey keyProperty="square_num" resultType="int" order="BEFORE">
			SELECT nvl(max(square_num), 0)+1 FROM board_square
		</selectKey>
		INSERT INTO board_square VALUES( #{square_num}, #{id}, #{square_title}, #{square_content}, #{square_view}, #{square_date}, #{nick})
	</insert>
	
	<insert id="commentProc" parameterType="CommentDTO">
		<selectKey keyProperty="comment_num" resultType="int" order="BEFORE">
			SELECT nvl(max(comment_num), 0)+1 FROM board_comment
		</selectKey>
		INSERT INTO board_comment VALUES( #{square_num}, #{id}, #{comment_num}, #{comment_content}, DATE_FORMAT(now(), '%y-%m-%d %H:%i'), #{nick})
	</insert>
	
	<select id="viewProc" resultType="BoardDTO" parameterType="int">
		SELECT * FROM board_square WHERE square_num=#{square_num}
	</select>
	
	<update id="upNum" parameterType="int" >
		UPDATE board_square SET square_view=square_view+1 WHERE square_num=#{square_num}
	</update>
	
	<select id="commentListProc" resultType="CommentDTO">
		SELECT * FROM board_comment WHERE square_num=#{square_num}
	</select>
	
	<select id="boardProc" resultType="BoardDTO">
		SELECT B.* FROM(
         SELECT ROW_NUMBER() OVER(ORDER BY square_num) AS rn, 
         A.* FROM(
            SELECT * FROM board_square
            <choose>
               <when test="sel == 'nick'">WHERE nick LIKE CONCAT('%',#{search},'%')</when>
               <when test="sel == 'title'">WHERE square_title LIKE CONCAT('%',#{search},'%')</when>
            </choose>
            ORDER BY square_num DESC
         )A
      )B WHERE rn BETWEEN #{b} and #{e}
	</select>
	
	<select id="boardCount" resultType="int"  parameterType="HashMap">
		SELECT count(*) FROM board_square 
		<choose>
			<when test="select == 'nick'">WHERE nick LIKE '%'||#{search}||'%'</when>
			<when test="select == 'title'">WHERE square_title LIKE '%'||#{search}||'%'</when>
		</choose>
	</select>
	
	<update id="modifyProc" parameterType="BoardDTO" >
		UPDATE board_square SET square_title=#{square_title}, square_content=#{square_content} WHERE square_num=#{square_num}
	</update>
	
	<delete id="deleteProc" parameterType="int">
		DELETE FROM board_square WHERE square_num=#{square_num}
	</delete>	
	</mapper>